@import '../../scss/variables';
@import '../../scss/libs/normalize';
.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;
  @media (max-width: 620px) {
    padding: 20px 0;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 620px) {
      flex-direction: column;
      .header {
        padding: 20px 0;
      }
      .logo {
        margin-bottom: 20px;
      }
    }
    .header_cart {
      padding: 0;
    }
  }
  .logo {
    display: flex;
    gap: 0 20px;
    align-items: center;

    img {
      margin-right: 15px;
    }
    svg {
      color: $orange;
    }
    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }
}
.button {
  display: inline-block;
  background-color: $orange;
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition:
    background-color $duration ease-in-out,
    border-color $duration ease-in-out;
  border: 1px solid transparent;
  @include noselect();

  &,
  span {
    color: #fff;
  }

  i,
  span,
  path,
  svg {
    transition: all $duration ease-in-out;
  }

  &:hover {
    background-color: darken($orange, 8%);
  }

  &:active {
    background-color: darken($orange, 12%);
    transform: translateY(1px);
  }
}
.button_cart {
  display: flex;
  align-items: center;
  line-height: 23px;
  padding: 12px 25px;

  img {
    margin-right: 8px;
    margin-bottom: 1px;
  }

  span {
    font-weight: 600;
    font-size: 16px;
  }
}
.button_delimiter {
  width: 1px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.25);
  margin-left: 14px;
  margin-right: 14px;
}
