.input {
  border: 1px solid rgba(0, 0,0, 0.1);
  padding: 8px 15px ;
  width: 250px;
  font-size: 14px;
  border-radius: 10px;
  &:focus {
    border: 1px solid rgba(0, 0,0, 0.2);
  }
}
.root {
  position: relative;
  padding-left: -150px;
}
.clearIcon {
  position: relative;

    width: 20px;
    height: 20px;
    position: absolute;
    top: 9px;
    right: 10px; 
    opacity: 0.7;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
      transform: scale(1.2);
      transition: transform 0.25s ease-in-out 0s;
    }

}